{% extends "SmartGrowingApp/formulario.html" %}

{% load static %}

{% block content %}

<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Comunícate con nosotros</h3>
      <h4>Te asesoramos con tus sistemas hidropónicos</h4>
      <fieldset>
        <input placeholder="Nombre y apellido" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Correo electrónico" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Teléfono de contacto" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Empresa" type="url" tabindex="4" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Cuéntanos sobre tu proyecto" tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button>
      </fieldset>
    </form>
  </div>


{% endblock %}