{% extends "SmartGrowingApp/base.html" %}

{% load static %}

{% block content %}
    <main class="autor">
        <div class="contenido" data-aos="fade-right" data-aos-duration="9500">
            <div class="static"><h1>Somos Smart Growing</h1></div>
            <div class="static"><h5>Automatizamos tu</h5></div>
            <div class="change" id="rotate">
                <h3>
                <span>invernadero</span>
                <span>germinación</span>
                <span>fertilización</span>
                <span>energía</span>
                <span>fotosíntesis</span>
                <span>producción</span>
                </h3>
            </div>
            <div class="lowtext">
                <br>
                <h5><br>creando vida con algoritmos</h5>
                <a href="/contacto"><button class="boton">Cotiza tu proyecto</button></a>
            </div>
        </div>
    </main>

{% endblock %}